In [65]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [66]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Thompson,CA,78.80,broken clouds,55.74,-97.86,Burntwood Hotel
1,17,Calabozo,VE,86.13,broken clouds,8.92,-67.43,Hotel Giardini
2,18,Novo Aripuana,BR,85.30,overcast clouds,-5.12,-60.38,Hotel Ypê
3,21,Puerto Ayora,EC,77.00,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
4,22,Avarua,CK,75.20,broken clouds,-21.21,-159.78,Paradise Inn

In [74]:
City1 = input("Enter 1st City name :")
City2 = input("Enter 2nd City name :")
City3 = input("Enter 3rd City name :")
City4 = input("Enter 4th City name :")

Enter 1st City name :San Jose
Enter 2nd City name :Santa Ana
Enter 3rd City name :Kerrville
Enter 4th City name :Thompson

In [75]:
print(City1,City2,City3,City4)

San Jose Santa Ana Kerrville Thompson

In [76]:
City1_df = vacation_df.loc[(vacation_df["City"] == City1)]
City1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,278,San Jose,US,78.01,broken clouds,37.34,-121.89,The Westin San Jose

In [77]:
City2_df = vacation_df.loc[(vacation_df["City"] == City2)]
City2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
132,438,Santa Ana,US,81.0,few clouds,33.75,-117.87,Best Western Plus Orange County Airport North

In [78]:
City3_df = vacation_df.loc[(vacation_df["City"] == City3)]
City3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
134,440,Kerrville,US,87.01,clear sky,30.05,-99.14,Hampton Inn Kerrville

In [79]:
City4_df = vacation_df.loc[(vacation_df["City"] == City4)]
City4_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Thompson,CA,78.8,broken clouds,55.74,-97.86,Burntwood Hotel

In [83]:
a =City1_df[["Lat","Lng"]]
a.to_numpy()[0][0]
san_jose = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [84]:
a =City2_df[["Lat","Lng"]]
a.to_numpy()[0][0]
santa_ana = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [85]:
a =City3_df[["Lat","Lng"]]
a.to_numpy()[0][0]
kerrville = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [86]:
a =City4_df[["Lat","Lng"]]
a.to_numpy()[0][0]
thompson = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [89]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

fig = gmaps.figure()
sj_sa_k_t = gmaps.directions_layer(
        san_jose,thompson, waypoints=[santa_ana,kerrville],
        travel_mode='DRIVING')
fig.add_layer(sj_sa_k_t)
fig

Figure(layout=FigureLayout(height='420px'))

In [90]:
all_4cities_df = pd.concat([City1_df,City2_df,City3_df,City4_df])
all_4cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,278,San Jose,US,78.01,broken clouds,37.34,-121.89,The Westin San Jose
132,438,Santa Ana,US,81.00,few clouds,33.75,-117.87,Best Western Plus Orange County Airport North
134,440,Kerrville,US,87.01,clear sky,30.05,-99.14,Hampton Inn Kerrville
0,4,Thompson,CA,78.80,broken clouds,55.74,-97.86,Burntwood Hotel

In [91]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in all_4cities_df.iterrows()]

In [94]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = all_4cities_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(40.0,-90.0),zoom_level=2.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))