In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Otake,JP,2020-06-14 01:58:44,34.20,132.22,80.60,74,75,10.29
1,1,Saint George,US,2020-06-14 01:54:02,37.10,-113.58,89.60,4,1,26.40
2,2,Chuy,UY,2020-06-14 01:58:44,-33.70,-53.46,43.00,66,1,10.51
3,3,Pinega,RU,2020-06-14 01:58:45,64.70,43.39,53.46,62,64,7.05
4,4,Hobart,AU,2020-06-14 01:56:00,-42.88,147.33,57.20,50,100,16.11

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     581 non-null    int64
 1   City        581 non-null    object
 2   Country     576 non-null    object
 3   Date        581 non-null    object
 4   Lat         581 non-null    float64
 5   Lng         581 non-null    float64
 6   Max Temp    581 non-null    float64
 7   Humidity    581 non-null    int64
 8   Cloudiness  581 non-null    int64
 9   Wind Speed  581 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 45.5+ KB

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Otake,JP,2020-06-14 01:58:44,34.20,132.22,80.60,74,75,10.29
1,1,Saint George,US,2020-06-14 01:54:02,37.10,-113.58,89.60,4,1,26.40
16,16,Vaini,TO,2020-06-14 01:58:48,-21.20,-175.20,75.20,64,75,13.87
21,21,Kaohsiung,TW,2020-06-14 01:56:30,22.62,120.31,89.60,66,75,14.99
23,23,Rikitea,PF,2020-06-14 01:58:50,-23.12,-134.97,75.94,84,100,13.42
27,27,Hobyo,SO,2020-06-14 01:58:50,5.35,48.53,79.43,70,100,18.16
31,31,Norman Wells,CA,2020-06-14 01:58:51,65.28,-126.83,75.20,27,75,21.92
36,36,Chum Phae,TH,2020-06-14 01:58:53,16.54,102.10,82.76,75,100,0.87
47,47,Avarua,CK,2020-06-14 01:58:55,-21.21,-159.78,75.20,57,99,8.05
48,48,Atuona,PF,2020-06-14 01:58:55,-9.80,-139.03,80.73,79,58,19.62

In [28]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 578
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     195 non-null    int64
 1   City        195 non-null    object
 2   Country     195 non-null    object
 3   Date        195 non-null    object
 4   Lat         195 non-null    float64
 5   Lng         195 non-null    float64
 6   Max Temp    195 non-null    float64
 7   Humidity    195 non-null    int64
 8   Cloudiness  195 non-null    int64
 9   Wind Speed  195 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.8+ KB

In [22]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\laksh\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            City Country  Max Temp    Lat     Lng Hotel Name
0          Otake      JP     80.60  34.20  132.22
1   Saint George      US     89.60  37.10 -113.58
16         Vaini      TO     75.20 -21.20 -175.20
21     Kaohsiung      TW     89.60  22.62  120.31
23       Rikitea      PF     75.94 -23.12 -134.97
27         Hobyo      SO     79.43   5.35   48.53
31  Norman Wells      CA     75.20  65.28 -126.83
36     Chum Phae      TH     82.76  16.54  102.10
47        Avarua      CK     75.20 -21.21 -159.78
48        Atuona      PF     80.73  -9.80 -139.03

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\laksh\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df1 = hotel_df.loc[(hotel_df["Hotel Name"] != "")]
hotel_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 578
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        180 non-null    object
 1   Country     180 non-null    object
 2   Max Temp    180 non-null    float64
 3   Lat         180 non-null    float64
 4   Lng         180 non-null    float64
 5   Hotel Name  180 non-null    object
dtypes: float64(3), object(3)
memory usage: 9.8+ KB

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))