In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Oistins,BB,87.80,few clouds,13.07,-59.53,Butterfly Beach Hotel
1,4,Mayo,US,75.99,clear sky,38.89,-76.51,Resorts Resource Group International
2,6,Kahului,US,82.40,few clouds,20.89,-156.47,Maui Seaside Hotel
3,8,Fort-Shevchenko,KZ,89.11,clear sky,44.51,50.26,Oasis hotel Bautino
4,36,Rikitea,PF,75.76,clear sky,-23.12,-134.97,Pension Maro'i

In [3]:
City1 = input("Enter 1st City name :")
City2 = input("Enter 2nd City name :")
City3 = input("Enter 3rd City name :")
City4 = input("Enter 4th City name :")

Enter 1st City name :Saint George
Enter 2nd City name :Craig
Enter 3rd City name :Casper
Enter 4th City name :North Platte

In [5]:
print(City1,City2,City3,City4)

Saint George Craig Casper North Platte

In [6]:
City1_df = vacation_df.loc[(vacation_df["City"] == City1)]
City1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,97,Saint George,US,86.0,clear sky,37.1,-113.58,Best Western Plus Abbey Inn

In [7]:
City2_df = vacation_df.loc[(vacation_df["City"] == City2)]
City2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
97,369,Craig,US,78.8,clear sky,40.52,-107.55,Candlewood Suites Craig-Northwest

In [8]:
City3_df = vacation_df.loc[(vacation_df["City"] == City3)]
City3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
137,521,Casper,US,80.01,clear sky,42.87,-106.31,Ramkota Hotel

In [9]:
City4_df = vacation_df.loc[(vacation_df["City"] == City4)]
City4_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
125,488,North Platte,US,90.0,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte

In [35]:
a =City1_df[["Lat","Lng"]]
a.to_numpy()[0][0]
saint_george = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [36]:
a =City2_df[["Lat","Lng"]]
a.to_numpy()[0][0]
craig = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [37]:
a =City3_df[["Lat","Lng"]]
a.to_numpy()[0][0]
casper = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [38]:
a =City4_df[["Lat","Lng"]]
a.to_numpy()[0][0]
north_platte = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [41]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

fig = gmaps.figure()
sg_cr_ca_np = gmaps.directions_layer(
        saint_george,north_platte, waypoints=[craig,casper],
        travel_mode='BICYCLING')
fig.add_layer(sg_cr_ca_np)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
all_4cities_df = pd.concat([City1_df,City2_df,City3_df,City4_df])
all_4cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,97,Saint George,US,86.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
97,369,Craig,US,78.80,clear sky,40.52,-107.55,Candlewood Suites Craig-Northwest
137,521,Casper,US,80.01,clear sky,42.87,-106.31,Ramkota Hotel
125,488,North Platte,US,90.00,clear sky,41.12,-100.77,Holiday Inn Express & Suites North Platte

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in all_4cities_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = all_4cities_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(40.0,-90.0),zoom_level=4.0)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))