In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Ishigaki,JP,82.40,scattered clouds,24.34,124.16,Hotel Peace Land Ishigakijima
1,5,Diapaga,BF,82.15,moderate rain,12.07,1.79,NaN
2,6,Laizhou,CN,75.24,overcast clouds,37.18,119.93,Baidu International Hotel
3,7,Vaini,TO,75.20,scattered clouds,-21.20,-175.20,Keleti Beach Resort
4,8,Rikitea,PF,76.17,scattered clouds,-23.12,-134.97,Pension Maro'i

In [3]:
City1 = input("Enter 1st City name :")
City2 = input("Enter 2nd City name :")
City3 = input("Enter 3rd City name :")
City4 = input("Enter 4th City name :")

Enter 1st City name :Riverton
Enter 2nd City name :Worland
Enter 3rd City name :Mitchell
Enter 4th City name :Meadow Lake

In [4]:
print(City1,City2,City3,City4)

Riverton Worland Mitchell Meadow Lake

In [5]:
City1_df = vacation_df.loc[(vacation_df["City"] == City1)]
City1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
171,503,Riverton,US,75.0,clear sky,40.52,-111.94,Ramada by Wyndham Draper

In [6]:
City2_df = vacation_df.loc[(vacation_df["City"] == City2)]
City2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,91,Worland,US,82.4,clear sky,44.02,-107.96,Town House Motor Inn

In [7]:
City3_df = vacation_df.loc[(vacation_df["City"] == City3)]
City3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
90,290,Mitchell,US,89.6,clear sky,43.71,-98.03,Kelly Inn & Suites

In [8]:
City4_df = vacation_df.loc[(vacation_df["City"] == City4)]
City4_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
95,308,Meadow Lake,US,86.0,thunderstorm,34.8,-106.54,JKL Inc. R.V Park and Storage

In [11]:
a =City1_df[["Lat","Lng"]]
a.to_numpy()[0][0]
riverton = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [12]:
a =City2_df[["Lat","Lng"]]
a.to_numpy()[0][0]
worland = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [13]:
a =City3_df[["Lat","Lng"]]
a.to_numpy()[0][0]
mitchell = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [14]:
a =City4_df[["Lat","Lng"]]
a.to_numpy()[0][0]
meadow_lake = (a.to_numpy()[0][0],a.to_numpy()[0][1])

In [15]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

fig = gmaps.figure()
r_w_mi_me = gmaps.directions_layer(
        riverton,meadow_lake, waypoints=[worland,mitchell],
        travel_mode='DRIVING')
fig.add_layer(r_w_mi_me)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
all_4cities_df = pd.concat([City1_df,City2_df,City3_df,City4_df])
all_4cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
171,503,Riverton,US,75.0,clear sky,40.52,-111.94,Ramada by Wyndham Draper
26,91,Worland,US,82.4,clear sky,44.02,-107.96,Town House Motor Inn
90,290,Mitchell,US,89.6,clear sky,43.71,-98.03,Kelly Inn & Suites
95,308,Meadow Lake,US,86.0,thunderstorm,34.80,-106.54,JKL Inc. R.V Park and Storage

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in all_4cities_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = all_4cities_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(40.0,-90.0),zoom_level=3.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))